
.main_icon {
  font-size: 64px
}

.active {
  color: #4682b4;
}

.inactive {
  color: #737475;
}

.black {
  color: #000000;
}

.upload_selector {
  height: 74px;
  width: 150px;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
}

.icon-file-picture{
  float:left;
}

.icon-earth {
  float:right;
}

.upload_controls {
  height: 40px;
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  clear:both;
  text-align: center;
}
.address {
  width: 80%;
  float: left;
  height: 32px;
}

.hidden {
  display: none;
}

.file_dialog{
  
  float: left;
}

.upload_file {
  float: right;
}

.main_image
{ 
  width: 600px;
  height: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 10px solid black;
}

.playback_controls {
  color: #4682b4;
  height: 80px;
  width: 400px;
  margin-left:auto;
  margin-right:auto; 
  text-align: center;
}
