.active {
  color: #4682b4;
}

.inactive {
  color: #737475;
}

.black {
  color: #000000;
}

.upload_selector {
  height: 100px;
  width: 180px;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;  
  text-align: center;
}

.icon-button {
	margin: 5px;
	display: inline-block;
  width: 70px;
  height: 70px;  
  font-size: 64px;
}

.caption-url {
	display: inline-block;
  width: 70px;
}

.caption-file {
	display: inline-block;
  width: 70px;
}

.hidden {
	display: none;
}

.upload_controls {
  height: 40px;
  width: 400px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.file_dialog {
	height: 32px;
	float: left;
	width: 75%;
}

.address {
	float: left;
	height: 32px;
	width: 75%;
}

.upload_file {
	float: right;
}

.main_image
{ 
  width: 600px;
  height: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 10px solid black;
}

.playback_controls {
  color: #4682b4;
  height: 80px;
  width: 400px;
  margin-left:auto;
  margin-right:auto; 
  text-align: center;
}
